.btn-primary {
  background-color: #1c1b3d;
  border: solid #1c1b3d;
}

.btn-primary:hover {
  background-color: #131229;
  border: solid #131229;
}
.btn-primary:active {
  background-color: #131229 !important;
  box-shadow: 0 5px 5px 0 #49494b !important;
  border-color: 2px solid #131229 !important;
  outline: none;
}

.btn-primary:disabled {
  background-color: #131229;
  border: solid #131229;
}
.bg-primary {
  background-color: #1c1b3d;
}
