/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;

  /* Fonts */
  --font-default: "Montserrat", sans-serif;

  /* Default text color */
  --color-default: #333333;
  --color-default-rgb: 113, 113, 113;

  /* Defult links color */
  --color-links: #02175b;
  --color-links-hover: #2d4182;

  /* Primay colors */
  --color-primary: #1c1b3d;
  --color-primary-rgb: 0, 60, 113;

  /* Secondary colors */
  --color-secondary: #00bcd4;
  --color-secondary-rgb: 0, 188, 212;

  /* General colors */
  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;
  --color-blue: #3e96fc;
  --color-blue-rgb: 62, 150, 252;
  --color-orange: #f3745a;
  --color-orange-rgb: 243, 116, 90;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
}
/*--------------------------------------------------------------
 # 2. Set color and background class names
 --------------------------------------------------------------*/
/* Fonts */
.font-default {
  font-family: var(--font-default) !important;
}

/* Text Colors */
.color-default {
  color: var(--color-default) !important;
}

.color-links {
  color: var(--color-links) !important;
}

.color-links:hover {
  color: var(--color-links-hover) !important;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-red {
  color: var(--color-red) !important;
}

.color-orange {
  color: var(--color-orange) !important;
}

.color-blue {
  color: var(--color-blue) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.color-gray {
  color: var(--color-gray) !important;
}

.color-black {
  color: var(--color-black) !important;
}

/* Background Colors */
.bg-default {
  background-color: var(--color-default) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.bg-blue {
  background-color: var(--color-blue) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-color {
  background-color: var(--bg-color);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: var(--font-default) !important;
  font-size: 14px;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
  font-weight: 600;
}
